body {
  background: beige;
  font-color: darkgrey;
  font-family: Arial;
  
}
title {
  color:coral;
  font-style: bold;
  font-size: 50px;
  text-align: center;
  }

.aboutme {
  border-width: 6px;
  border-style: double;
  border-color: coral;
  border-radius: 40px;
  padding: 20px;
}
.services{
  text-align:center;
  text-size: 30px;
  margin: 50px;
  padding: 20px;
  border-color:coral;
  border-radius: 40px;
  border-width: 6px;
  border-style:double;
  }
.smm {
  text-align:left;
  text-size: 20px;
  text-color:coral;
  margin:15px;
  }
.funnel {
  text-align: center;
  text-size: 20px;
  text-color:coral;
  margin:15px;
   }
.dev {
  text-align:right;
  text-size:20px;
  text-color:coral;
  margin:15px;
  }

  
  
